Package: com.lew.hidedock
Name: HideDock14
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Luis Garcia
Author: Luis Garcia
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-4+debug
Installed-Size: 168
